asyncio
beautifulsoup4
crawl4ai
devtools
fastapi
httpx
langchain
langchain-core
langchain-huggingface
langchain_community
langchain_core
langchain_milvus
langchain_openai
langchainhub
langgraph
langserve
logfire
logfire
ollama
openai
pydantic
pymilvus
python-dotenv
requests
sentence-transformers
sse_starlette
streamlit
supabase
tavily-python
tiktoken
uvicorn
watchdog
yfinance
